{% extends 'form_div_layout.html.twig' %}


{# Javascripts #}

{% block form_javascripts %}
    {% spaceless %}
        {% javascripts '@vince_type_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('bundles/vincetype/datepicker/langs/bootstrap-datepicker.' ~ locale ~ '.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/vincetype/redactor/langs/' ~ locale ~ '.js') }}"></script>
        {% for child in form %}
            {{ form_javascript(child) }}
            {% if child.vars.compound %}
                {{ form_javascripts(child) }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_javascripts %}

{% block form_javascript %}{% endblock form_javascript %}


{# Stylesheets #}

{% block form_stylesheets %}
    {% spaceless %}
        {% javascripts '@vince_type_css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endjavascripts %}
        {% for child in form %}
            {{ form_stylesheet(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_stylesheets %}

{% block form_stylesheet %}{% endblock form_stylesheet %}


{# Help #}

{% block form_help %}
    {% spaceless %}
        {% if help is defined and help is not null %}
            <span class="help">{{ help|trans }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}


{# Redactor #}

{% block redactor_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').redactor($.extend({
                    imageUploadErrorCallback: function (datas) {
                        $('.redactor_error', $('#{{ id }}').closest('.redactor_box')).trigger('close');
                        $('<div>').addClass('redactor_error').text(datas.error).insertAfter($('#{{ id }}')).on('close',function (event) {
                            $(this).slideUp('fast', function () {
                                $(this).remove();
                            });
                        }).slideDown('fast').delay(5000).trigger('close');
                    },
                    fileUploadErrorCallback: function (datas) {
                        $('.redactor_error', $('#{{ id }}').closest('.redactor_box')).trigger('close');
                        $('<div>').addClass('redactor_error').text(datas.error).insertAfter($('#{{ id }}')).on('close',function (event) {
                            $(this).slideUp('fast', function () {
                                $(this).remove();
                            });
                        }).slideDown('fast').delay(5000).trigger('close');
                    },
                    imageUpload: '{{ path('redactor-upload') }}',
                    fileUpload: '{{ path('redactor-upload') }}',
                    lang: '{{ app.request.locale }}'
                }, {{ options|raw }}));
            });
        </script>
    {% endspaceless %}
{% endblock redactor_javascript %}


{# Masked #}

{% block masked_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').mask('{{ mask }}', {{ options|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock masked_javascript %}


{# Token #}

{% block token_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').tokenInput('{{ path('token-search') }}', $.extend({
                    method: 'POST',
                    queryParam: 'query',
                    queryParams: {
                        entity: '{{ entity }}',
                        method: '{{ searchMethod }}'
                    },
                    hintText: '{{ 'token.text.hint'|trans({}, 'Vince') }}',
                    noResultsText: '{{ 'token.text.noResults'|trans({}, 'Vince') }}',
                    searchingText: '{{ 'token.text.searching'|trans({}, 'Vince') }}',
                    deleteText: '{{ 'token.text.delete'|trans({}, 'Vince') }}',
                    theme: 'facebook',
                    prePopulate: {{ value|raw }}
                }, {{ options|raw }}));
            });
        </script>
    {% endspaceless %}
{% endblock token_javascript %}


{# List #}

{% block list_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').listInput({{ options|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock list_javascript %}

{% block list_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock list_widget %}


{# Datepicker #}

{% block datepicker_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').addClass('datepicker-field').datepicker($.extend({
                    language: '{{ app.request.locale|lower }}'
                }, {{ options|raw }}));
            });
        </script>
    {% endspaceless %}
{% endblock datepicker_javascript %}

{% block datepicker_widget %}
    {% spaceless %}
        {% set type = 'text' %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock datepicker_widget %}