{% extends 'form_div_layout.html.twig' %}


{# Javascripts #}

{% block form_javascripts %}
    {% spaceless %}
        {% if form._token is defined %}
            {{ block('form_root_javascript') }}
        {% endif %}
        {% for child in form %}
            {{ form_javascript(child) }}
            {% if child.vars.compound %}
                {{ form_javascripts(child) }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_javascripts %}

{% block form_javascript %}{% endblock form_javascript %}

{% block form_root_javascript %}
    {% spaceless %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        {% javascripts '@vince_type_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="text/javascript" src="{{ asset('bundles/vincetype/datepicker/langs/bootstrap-datepicker.' ~ locale ~ '.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/vincetype/redactor/langs/' ~ locale ~ '.js') }}"></script>
    {% endspaceless %}
{% endblock form_root_javascript %}


{# Stylesheets #}

{% block form_stylesheets %}
    {% spaceless %}
        {% if form._token is defined %}
            {{ block('form_root_stylesheet') }}
        {% endif %}
        {% for child in form %}
            {{ form_stylesheet(child) }}
            {% if child.vars.compound %}
                {{ form_stylesheets(child) }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock form_stylesheets %}

{% block form_stylesheet %}{% endblock form_stylesheet %}

{% block form_root_stylesheet %}
    {% spaceless %}
        {% stylesheets '@vince_type_css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endspaceless %}
{% endblock form_root_stylesheet %}


{# Help #}

{% block form_help %}
    {% spaceless %}
        {% if help is defined and help is not null %}
            <span class="help">{{ help|trans }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}


{# Redactor #}

{% block redactor_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').redactor($.extend({
                    imageUploadErrorCallback: function (datas) {
                        $('.redactor_error', $('#{{ id }}').closest('.redactor_box')).trigger('close');
                        $('<div>').addClass('redactor_error').text(datas.error).insertAfter($('#{{ id }}')).on('close',function (event) {
                            $(this).slideUp('fast', function () {
                                $(this).remove();
                            });
                        }).slideDown('fast').delay(5000).trigger('close');
                    },
                    fileUploadErrorCallback: function (datas) {
                        $('.redactor_error', $('#{{ id }}').closest('.redactor_box')).trigger('close');
                        $('<div>').addClass('redactor_error').text(datas.error).insertAfter($('#{{ id }}')).on('close',function (event) {
                            $(this).slideUp('fast', function () {
                                $(this).remove();
                            });
                        }).slideDown('fast').delay(5000).trigger('close');
                    },
                    lang: '{{ locale }}'
                }, {{ options|raw }}));
            });
        </script>
    {% endspaceless %}
{% endblock redactor_javascript %}


{# Masked #}

{% block masked_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').mask('{{ mask }}', {{ options|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock masked_javascript %}


{# Token #}

{% block token_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').tokenInput('{{ path('token-search') }}', $.extend({
                    method: 'POST',
                    queryParam: 'query',
                    queryParams: {{ queryParams|raw }},
                    hintText: '{{ 'token.text.hint'|trans({}, 'Vince') }}',
                    noResultsText: '{{ 'token.text.noResults'|trans({}, 'Vince') }}',
                    searchingText: '{{ 'token.text.searching'|trans({}, 'Vince') }}',
                    deleteText: '{{ 'token.text.delete'|trans({}, 'Vince') }}',
                    theme: 'facebook',
                    prePopulate: {{ value|raw }}
                }, {{ options|raw }}));
            });
        </script>
    {% endspaceless %}
{% endblock token_javascript %}


{# List #}

{% block list_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').listInput({{ options|raw }});
            });
        </script>
    {% endspaceless %}
{% endblock list_javascript %}

{% block list_widget %}
    {% spaceless %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock list_widget %}


{# Datepicker #}

{% block datepicker_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                $('#{{ id }}').addClass('datepicker-field').datepicker($.extend({
                    language: '{{ locale|lower }}'
                }, {{ options|raw }}));
            });
        </script>
    {% endspaceless %}
{% endblock datepicker_javascript %}

{% block datepicker_widget %}
    {% spaceless %}
        {% set type = 'text' %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock datepicker_widget %}


{# Document #}

{% block document_widget %}
    {% spaceless %}
        <div class="document-container">
            {{ form_widget(form.file) }}
            {% if filename %}
                <div class="document-file">
                    <a href="{{ filename }}" target="_blank">
                        {% if is_image %}
                            <img src="{{ filename }}" />
                        {% else %}
                            {{ filename }}
                        {% endif %}
                    </a>
                    {% if not required %}
                        {{ form_widget(form.delete) }}
                        {{ form_label(form.delete) }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock document_widget %}


{# Geolocation #}

{% block geolocation_widget %}
    {% spaceless %}
        {{ block('hidden_widget') }}
        <input type="search" id="{{ id }}-search" class="geolocation-search-field" placeholder="{{ 'geolocation.placeholder'|trans({}, 'Vince') }}" />
        <div id="{{ id }}-map" class="geolocation-map">
            <img src="{{ asset('bundles/vincetype/geolocation/loader.gif') }}" />
        </div>
    {% endspaceless %}
{% endblock %}

{% block geolocation_javascript %}
    {% spaceless %}
        <script type="text/javascript">
            $(function () {
                var infowindow;
                $.get('{{ path('geolocation-list', {'class': class}) }}', function (datas) {
                    // Add all markers
                    var markers = [];
                    $.each(datas, function (key, data) {
                        var markerOptions = {
                            position: new google.maps.LatLng(data.lat, data.lng)
                        };
                        {% if icon %}
                            markerOptions.icon = new google.maps.MarkerImage('{{ asset(icon) }}', null, null, null, new google.maps.Size(34, 45));
                        {% endif %}
                        var marker = new google.maps.Marker(markerOptions);

                        // Display info window on click + fill in form field
                        google.maps.event.addListener(marker, 'click', function() {
                            if (infowindow) {
                                infowindow.close();
                            }
                            infowindow = new google.maps.InfoWindow({
                                content: '<h4 class="geolocation-info-name">'+data.name+'</h4>'+
                                         '<p class="geolocation-info-address">'+data.address+',<br />'+data.zipcode+' '+data.city+'</p>'
                            });
                            infowindow.open(map, marker);
                            $('{{ '#'~id }}').val(data.id).trigger('change');
                        });
                        {% if value %}
                            if (data.id == {{ value }}) {
                                new google.maps.event.trigger(marker, 'click');
                            }
                        {% endif %}
                        markers.push(marker);
                    });

                    // Default center
                    var map = new google.maps.Map(document.getElementById('{{ id~'-map' }}'), {
                        center: new google.maps.LatLng({{ lat }}, {{ lng }}),
                        zoom: {{ zoom }},
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    // HTML5 localization
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
                        });
                    }

                    // Cluster markers
                    new MarkerClusterer(map, markers);

                    // Search autocomplete
                    $('{{ '#'~id~'-search' }}').show().geocomplete().on('geocode:result', function (event, result) {
                        // Center map to searched address
                        map.setCenter(new google.maps.LatLng(result.geometry.location.k, result.geometry.location.B));
                    });
                }, 'json');
            });
        </script>
    {% endspaceless %}
{% endblock %}